*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper { margin: 0 auto; }

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* styles for header */

.header {
	position: absolute;
	top: 0;
	left: 50%;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1200px;
	padding-top: 19px;
	
	transform: translateX(-50%);
}

.header .logo {
	display: flex;
	align-items: center;
	width: 230px;
}

.header .logo .logo-header {
	padding-left: 15px;
	
	font-family: 'Roboto';
	font-size: 32px;
	font-weight: 400;
	color: #f7f7f7;
	text-transform: uppercase;
}

.header .nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 480px;
}

.header .nav ul li { display: inline-block; }
.header .nav ul li a { text-decoration: none; }

.header .nav ul li .btn-blog, 
.header .nav ul li .btn-contacts {
	font-family: 'Open Sans';
	font-size: 23px;
	font-weight: 400;
	color: #f7f7f7;
}

.header .nav ul li .btn-blog:hover,
.header .nav ul li .btn-contacts:hover { color: #cf6426; }

.header .nav ul li .btn-search svg:hover #search,
.header .nav ul li .btn-search svg:active #search { fill: #cf6426; }

.header .nav ul li .btn-sign-in {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 50px;

	font-family: 'Roboto';
	font-size: 23px;
	font-weight: 400;
	color: #f7f7f7;
	
	background-color: transparent;
	border: 2px solid #cd6326;
	border-radius: 5px;

	cursor: pointer;
	outline: none;
}

.header .nav ul li .btn-sign-in:hover { background-color: #cd6326; }
.header .nav ul li .btn-sign-in:active {
	background-color: #8f5613;
	border-color: #8f5613;
}

/* styles for survival */

.survival { background-color: #02160b; }

.survival-wrapper {
	background-image: url("../img/bg-fox.png");
	background-repeat: no-repeat;
	background-position: center;
}

.survival .survival-header {
	padding-top: 199px;
	
	font-family: 'Open Sans';
	font-size: 48px;
	font-weight: 400;
	line-height: 72px;
	color: #cd6326;
	letter-spacing: 2px;
}

.survival .survival-text {
	width: 274px;
	padding: 51px 0 49px 0;
	
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	color: #f7f7f7;
	text-align: justify;
}

.survival .btn-donate {
	width: 160px;
	height: 60px;
	margin-bottom: 240px;
	
	font-family: 'Roboto';
	font-size: 23px;
	font-weight: 400;
	color: #f7f7f7;
	text-align: center;

	background: #cd6326;
	border: 2px solid #cd6326;
	border-radius: 5px;

	outline: none;
}

.survival .btn-donate:hover {
	background-color: #e39128;
	border-color: #e39128;
}
.survival .btn-donate:active {
	background-color: #8f5613;
	border-color: #8f5613;
}

/* styles for latest-articles */

.latest-articles { background-color: #ccc; }

.latest-articles .latest-articles-header {
	padding-top: 120px;
	
	font-family: 'Open Sans';
	font-size: 48px;
	font-weight: 400;
	line-height: 72px;
	color: #333;
	text-align: center;
}

.latest-articles .latest-articles-descr {
	padding-top: 20px;

	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	color: #666;
	text-align: center;
}

.latest-articles .news {
	display: flex;
	justify-content: space-between;
	padding-top: 120px;
}

.latest-articles .news .news-arrow {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.latest-articles .news .news-arrow svg:hover #arrow-left,
.latest-articles .news .news-arrow svg:hover #arrow-right,
.latest-articles .news .news-arrow svg:active #arrow-left,
.latest-articles .news .news-arrow svg:active #arrow-right { fill: #333; }

.latest-articles .news .news-item { position: relative; }

.latest-articles .news .news-item .news-img { display: block; }

.latest-articles .news .news-item .news-text {
	position: absolute;
	bottom: 0;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.latest-articles .news .news-item .news-text .news-title {
	font-family: 'Open Sans';
	font-size: 22px;
	font-weight: 400;
	line-height: 36px;
	color: #f7f7f7;
	text-align: center;
}

.latest-articles .news .news-item .news-text .news-descr {
	padding-top: 10px;
	padding-bottom: 40px;
	
	font-family: 'Open Sans';
	font-size: 17px;
	font-weight: 400;
	line-height: 27px;
	color: #f7f7f7;
	text-align: center;
}

/* styles for get-notified */

.get-notified { background-color: #cccccc }

.get-notified .get-notified-header {
	padding-top: 239px;

	font-family: 'Open Sans';
	font-size: 27px;
	font-weight: 400;
	line-height: 40px;
	color: #333;
	text-align: center;
}
.get-notified .email-send {
	display: flex;
	justify-content: center;
	padding-top: 59px;
	padding-bottom: 240px;
}

.get-notified .email-send .email {
	width: 540px;
	padding-left: 15px;

	font-family: 'Roboto';
	font-size: 23px;
	font-weight: 400;
	line-height: 27px;
	color: #666;
	
	background-color: transparent;
	border: 1px solid #666;

	cursor: pointer;
	outline: none;
}

.get-notified .email-send .send {
	display: block;
	width: 120px;
	height: 62px;

	font-family: 'Roboto';
	font-size: 23px;
	font-weight: 400;
	line-height: 27px;
	color: #f7f7f7;
	
	background: #cd6326;
	border: 1px solid #cd6326;
	border-radius: 0 5px 5px 0;

	cursor: pointer;
	outline: none;
}

.get-notified .email-send .send:hover {
	background-color: #e39128;
	border-color: #e39128;
}
.get-notified .email-send .send:active {
	background-color: #8f5613;
	border-color: #8f5613;
}

/* styles for footer */

.footer { background-color: #181617; }

.footer-wrapper {
	background-image: url("../img/bg-footer.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.footer .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 150px;
	padding-bottom: 150px;
}

.footer .logo {
	display: flex;
	align-items: center;
	width: 230px;
}

.footer .logo .logo-header {
	padding-left: 15px;
	
	font-family: 'Roboto';
	font-size: 32px;
	font-weight: 400;
	color: #f7f7f7;
	text-transform: uppercase;
}

.footer .nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 480px;
}

.footer .nav ul li,
.footer .link-social-network ul li { display: inline-block; }
.footer .nav ul li a { text-decoration: none; } 

.footer .nav ul li .btn-articles, 
.footer .nav ul li .btn-about-us,
.footer .nav ul li .btn-learn-more {
	font-family: 'Open Sans';
	font-size: 23px;
	font-weight: 400;
	line-height: 60px;
	color: #f7f7f7;
}

.footer .nav ul li .btn-articles:hover, 
.footer .nav ul li .btn-about-us:hover,
.footer .nav ul li .btn-learn-more:hover { color: #cf6426; }

.footer .link-social-network ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 240px;
}

.footer .link-social-network ul li a {
	display: block;
	width: 40px;
	height: 40px;
	
	background-color: #f7f7f7;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 20px;
}

.footer .link-social-network ul li .link-facebook { background-image: url(../icons/facebook.svg); }
.footer .link-social-network ul li .link-instagram { background-image: url(../icons/instagram.svg); }
.footer .link-social-network ul li .link-pinterest { background-image: url(../icons/pinterest.svg); }
.footer .link-social-network ul li .link-telegram { background-image: url(../icons/telegram.svg); }

.footer .link-social-network ul li .link-facebook:hover,
.footer .link-social-network ul li .link-instagram:hover,
.footer .link-social-network ul li .link-pinterest:hover,
.footer .link-social-network ul li .link-telegram:hover { background-color: #cf6426; }

.footer .link-social-network ul li .link-facebook:active,
.footer .link-social-network ul li .link-instagram:active,
.footer .link-social-network ul li .link-pinterest:active,
.footer .link-social-network ul li .link-telegram:active { background-color: #8f5613; }